* {
  font-family: "Poppins", sans-serif;
}

body {
  padding-top:80px;
}

.logo-ig {
  color: white;
}

.navbar i:hover {
  color: green;
  cursor: pointer;
}

.navbar-nav a:hover {
  color: green;
  cursor: pointer;
  font-weight: bold;
}

.navbar-nav a {
  color: white;
  cursor: pointer;
}

.navbar {
  position: fixed;
  transition: all 0.3s ease;
  top: 0;
}

.navbar.scrolling-active {
  background-color: rgb(27, 27, 27);
  padding: 15px 0px 15px 0px;
}

.logo-navbar .logo-navbar-1 {
  color: white;
}
.logo-navbar .logo-navbar-1:hover {
  color: #db4437;
}
.logo-navbar .logo-navbar-2 {
  color: white;
}
.logo-navbar .logo-navbar-2:hover {
  color: #833ab4;
}
.logo-navbar .logo-navbar-3 {
  color: white;
}
.logo-navbar .logo-navbar-3:hover {
  color: #4267b2;
}
.logo-navbar .logo-navbar-4 {
  color: white;
}
.logo-navbar .logo-navbar-4:hover {
  color: #1da1f2;
}
.logo-navbar .logo-navbar-5 {
  color: white;
}
.logo-navbar .logo-navbar-5:hover {
  color: green;
}

/* agenda-pengumuman start */


.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(image/halaman.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  width: 100%;
  height: 100vh;
}

.text-sukses {
  color: green;
  font-size: 16px;
  color: white;
  background-color: green;
  padding: 3px 15px;
  border-radius: 6px;
}


.text-pengumuman a {
  text-decoration: none;
  color: black;
  background-color: rgb(241, 241, 241);
  padding: 3px 7px;
}
.text-pengumuman a:hover {
  background-color: rgb(73, 73, 73);
  color: white;
  transition: all 0.1s ease-in-out;
  padding: 4px 8px;
}

.about .text-satu {
  color: white;
  font-style: italic;
}
.about .text-satu:hover {
  color: green;
  font-style: normal;
}
.about .text-dua {
  color: white;
  font-style: italic;
}
.about .text-dua:hover {
  color: green;
  font-style: normal;
}
/* agenda pengumuman end */



/* sosial media logo footer start */
.dropdown.dropdown-footer {
  background-color: green;
  padding: 8px 15px;
}

.dropdown:hover.dropdown-footer {
  background-color: rgb(3, 71, 3);
  transition: 0.2s ease-in-out;
}

.logo-sosial-1 {
  padding: 5px 7px;
  border-radius: 25%;
}
.logo-sosial-1:hover {
  background-color: #4267b2;
}
.logo-sosial-2 {
  padding: 5px;
  border-radius: 25%;
}
.logo-sosial-2:hover {
  background-color: #1da1f2;
}
.logo-sosial-3 {
  padding: 5px;
  border-radius: 25%;
}
.logo-sosial-3:hover {
  background-color: #db4437;
}
.logo-sosial-4 {
  padding: 5px 8px;
  border-radius: 25%;
}
.logo-sosial-4:hover {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.logo-sosial-5 {
  padding: 5px 8px;
  border-radius: 25%;
}
.logo-sosial-5:hover {
  background-color: #db4437;
}

/* sosial media footer end */

.text-pengumuman a {
  text-decoration: none;
  color: black;
  background-color: rgb(241, 241, 241);
  padding: 3px 7px;
}

.text-pengumuman a:hover {
  background-color: rgb(73, 73, 73);
  color: white;
  transition: all 0.1s ease-in-out;
  padding: 4px 8px;
}
